{% extends "base.html" %}

{% block content %}
    <h1>KURSY</h1>
    {% for course, id in list.items %}
        <p>
            <a href="{% url 'grades_zip' id %}">{{ course }}</a>
        </p>
    {% endfor %}
{% endblock %}