{% extends "base.html" %}

{% block content %}
    <h1>INDEX</h1>
    {% for canvas in canvas_objects %}
        <p>{{ canvas.login }} {{ canvas.password }} {{ canvas.user }}</p>
    {% endfor %}
{% endblock %}