{% extends "base.html" %}

{% block content %}

    <form action="" method="post">{% csrf_token %}
        <input type="text" name="login" />
        <input type="password" name="password" />
        <input type="submit" />
    </form>

{% endblock %}