{% extends "base.html" %}

{% block content %}
    {{ success }}

    <form action="" method="post">{% csrf_token %}
        <p>Login: <input type="text" name="login" /></p>
        <p>Haslo: <input type="password" name="password" /></p>
        <input type="submit" value="Zaloguj" />
    </form>
{% endblock %}