<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Egzamin</title>
</head>
<body>
<div id="menu">
    <a href="{% url 'main' %}">Strona glowna</a>
    <a href="{% url 'session_info' %}">Sesja</a>
    <a href="{% url 'courses_list' %}">Lista kursów</a>
</div>
{% block content %}{% endblock %}
</body>
</html>